<launch>
  <arg name="joint_gui" default="False" />
  
  <arg name="mode" default="1" />
    <param name="mode" value="$(arg mode)"/>
  
  <arg name="path" default="/home/vektor/rss-2013/data/ws_analysis/ws.grid" />
    <param name="grid_path" value="$(arg path)"/>  
  
  <!-- rbt_id must be 4 characters AND UPPER_CASE -->
  <rosparam param="rbt_ids">['RARM:rarm,rarm_U_chest','LARM:larm,larm_U_chest']</rosparam>  
  
  <!-- These are parameters for joint_state_publisher -->
  <param name="use_gui" value="$(arg joint_gui)"/>
  <param name="rate" value="30"/>
  <rosparam param="source_list">['joint_state_cmd','joint_state_planning']</rosparam>

  <node name="hiro_machine_sim" pkg="joint_state_publisher" type="joint_state_publisher"/> 
  
  <include file="$(find hiro_arm_navigation)/launch/hiro_arm_navigation.launch"/>
  
  <param name="publish_frequency" value="50"/>
  <node name="hiro_tf_gen" pkg="robot_state_publisher" type="state_publisher" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hiro_common)/rviz_config/ws_anal.vcg" />
  <node pkg="tf" type="static_transform_publisher" name="table_tf_bc" args="0 0 0.835 0 0 0 /link_base /table 100" />
  
  <node name="ws_analyzer" pkg="ws_anal" type="ws_analyzer" output="screen" />
  <!-- node name="sphere" pkg="ws_anal" type="sphere" output="screen" /-->
</launch>
