<launch>
    <include file="$(find hiro_arm_navigation)/launch/move_larm.launch" />
    <include file="$(find hiro_arm_navigation)/launch/move_larm_U_chest.launch" />
    <include file="$(find hiro_arm_navigation)/launch/move_rarm.launch" />
    <include file="$(find hiro_arm_navigation)/launch/move_rarm_U_chest.launch" />
</launch>
