<launch>
    <include file="$(find hiro_arm_navigation)/launch/hiro_planning_environment.launch" />
    <node pkg="ompl_ros_interface" type="ompl_ros" name="ompl_planning">
        <param name="default_planner_config" type="string" value="SBLkConfig1" />
        <!--param name="default_planner_config" type="string" value="RRTkConfig1" /-->
        <!--param name="default_planner_config" type="string" value="RRTConnectkConfig1" /-->
        <!--param name="default_planner_config" type="string" value="RRTStarkConfig1" /-->
        <rosparam command="load" file="$(find hiro_arm_navigation)/config/ompl_planning.yaml" />
    </node>
</launch>
