<?xml version="1.0"?>
<robot>

  <material name="Blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
  
  <material name="Green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
  
  <material name="Grey">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>
  
  <material name="Grey2">
    <color rgba="0.9 0.9 0.9 1.0"/>
  </material>
  
  <material name="Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  
  <material name="White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <material name="Black">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>

  <material name="LightGrey">
    <color rgba="0.6 0.6 0.6 1.0"/>
  </material>
  
  <material name="white">
	  <color rgba="1 1 1 1"/>
	</material>	
	<material name="yellow">
  	<color rgba="1 1 0 1"/>
  </material>
  <material name="magenta">
	  <color rgba="1 0 1 1"/>
  </material>
  <material name="red">
  	<color rgba="1 0 0 1"/>
  </material>
 	<material name="cyan">
	  <color rgba="0 1 1 1"/>
	</material>	
	<material name="green">
	  <color rgba="0 1 0 1"/>
	</material>	
	<material name="blue">
	  <color rgba="0 0 1 1"/>
	</material>	
	<material name="black">
	  <color rgba="0 0 0 1"/>
	</material>	
	<material name="violet">
	  <color rgba="0.6 0 1 1"/>
	</material>	
	<material name="orange">
	  <color rgba="1 0.6 0 1"/>
	</material>	
	<material name="grey">
	  <color rgba="0.6 0.6 0.6 1"/>
	</material>	
	<material name="spring_green">
    <color rgba="0 1 0.498 1"/>
  </material>
  <material name="chartreuse">
    <color rgba="0.498 1 0 1"/>
  </material>
  <material name="olive_drab">
    <color rgba="0.753 1 0.243 1"/>
  </material>
  
  <material name="chest_red">
    <texture filename="package://hiro_common/materials/textures/chest_texture.png" />
  </material>
  
  <material name="chest_red_2">
    <texture filename="package://hiro_common/materials/textures/chest_texture_2.png" />
  </material>
  
  <material name="chest_red_3">
    <texture filename="package://hiro_common/materials/textures/chest_texture_4.jpg" />
  </material>
</robot>
